body {
     background: lavender;
     font-family: "Georgia";
    }

#vid { 
    padding: 60px; 
}

#image {
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

p {
    font-size: 90px;
}

ul {
    list-style-image: ;

}

img {
    display: block
}

center {
    display: block
    margin-left: auto
    margin-right: auto
    width: 50%

}

